@mixin hor-list-setup{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin flex-hor-center{
    display: flex;
    align-items: center;
}






